In [27]:
import bs4 as bs
import datetime as dt
import os
import pandas as pd
import numpy as np
import yfinance as yf
import pickle 
import requests

def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    names = []
    symbols=[[]]
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text.replace('.', '-')
        ticker = ticker[:-1]
        tickers.append(ticker)
        name = row.findAll('td')[1].text
        name = name
        names.append(name)

    with open("sp500tickers.pickle", "wb") as f:
        pickle.dump(symbols, f)
    symbols=np.column_stack((tickers,names))
    return symbols
symbols=save_sp500_tickers()

In [28]:
print(len(symbols))
print(symbols)

502
[['MMM' '3M']
 ['AOS' 'A. O. Smith']
 ['ABT' 'Abbott']
 ...
 ['ZBH' 'Zimmer Biomet']
 ['ZION' 'Zions Bancorporation']
 ['ZTS' 'Zoetis']]

In [29]:

def get_data_from_yahoo(reload_sp500=True):
    if reload_sp500:
        symbols = save_sp500_tickers()
    else:
        with open("sp500tickers.pickle", "rb") as f:
            symbols = pickle.load(f)
    if not os.path.exists('stock_dfs'):
        os.makedirs('stock_dfs')

    start_date='2023-1-1'
    end_date = '2023-6-30'
    for i in range(len(symbols)):
        ticker=symbols[i][0]

        if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):

            tickerData = yf.Ticker(ticker)
            df = tickerData.history(interval='1d', start=start_date, end=end_date)
            df.reset_index(inplace=True)
            df.set_index("Date", inplace=True)
            df['Name'] = symbols[i][1]
            df['Symbol'] = symbols[i][0]
            df.to_csv('stock_dfs/{}.csv'.format(ticker))
        else:
            print('Already have {}'.format(ticker))


get_data_from_yahoo()

Already have MMM
Already have AOS
Already have ABT
Already have ABBV
Already have ACN
Already have ADM
Already have ADBE
Already have ADP
Already have AES
Already have AFL
Already have A
Already have ABNB
Already have APD
Already have AKAM
Already have ALK
Already have ALB
Already have ARE
Already have ALGN
Already have ALLE
Already have LNT
Already have ALL
Already have GOOGL
Already have GOOG
Already have MO
Already have AMZN
Already have AMCR
Already have AMD
Already have AEE
Already have AAL
Already have AEP
Already have AXP
Already have AIG
Already have AMT
Already have AWK
Already have AMP
Already have AME
Already have AMGN
Already have APH
Already have ADI
Already have ANSS
Already have AON
Already have APA
Already have AAPL
Already have AMAT
Already have APTV
Already have ACGL
Already have ANET
Already have AJG
Already have AIZ
Already have T
Already have ATO
Already have ADSK
Already have AZO
Already have AVB
Already have AVY
Already have AXON
Already have BKR
Already have BALL
Already have BAC
Already have BBWI
Already have BAX
Already have BDX
Already have WRB
Already have BRK-B
Already have BBY
Already have BIO
Already have TECH
Already have BIIB
Already have BLK
Already have BX
Already have BK
Already have BA
Already have BKNG
Already have BWA
Already have BXP
Already have BSX
Already have BMY
Already have AVGO
Already have BR
Already have BRO
Already have BF-B
Already have BG
Already have CHRW
Already have CDNS
Already have CZR
Already have CPT
Already have CPB
Already have COF
Already have CAH
Already have KMX
Already have CCL
Already have CARR
Already have CTLT
Already have CAT
Already have CBOE
Already have CBRE
Already have CDW
Already have CE
Already have COR
Already have CNC
Already have CNP
Already have CDAY
Already have CF
Already have CRL
Already have SCHW
Already have CHTR
Already have CVX
Already have CMG
Already have CB
Already have CHD
Already have CI
Already have CINF
Already have CTAS
Already have CSCO
Already have C
Already have CFG
Already have CLX
Already have CME
Already have CMS
Already have KO
Already have CTSH
Already have CL
Already have CMCSA
Already have CMA
Already have CAG
Already have COP
Already have ED
Already have STZ
Already have CEG
Already have COO
Already have CPRT
Already have GLW
Already have CTVA
Already have CSGP
Already have COST
Already have CTRA
Already have CCI
Already have CSX
Already have CMI
Already have CVS
Already have DHI
Already have DHR
Already have DRI
Already have DVA
Already have DE
Already have DAL
Already have XRAY
Already have DVN
Already have DXCM
Already have FANG
Already have DLR
Already have DFS
Already have DIS
Already have DG
Already have DLTR
Already have D
Already have DPZ
Already have DOV
Already have DOW
Already have DTE
Already have DUK
Already have DD
Already have EMN
Already have ETN
Already have EBAY
Already have ECL
Already have EIX
Already have EW
Already have EA
Already have ELV
Already have LLY
Already have EMR
Already have ENPH
Already have ETR
Already have EOG
Already have EPAM
Already have EQT
Already have EFX
Already have EQIX
Already have EQR
Already have ESS
Already have EL
Already have ETSY
Already have EG
Already have EVRG
Already have ES
Already have EXC
Already have EXPE
Already have EXPD
Already have EXR
Already have XOM
Already have FFIV
Already have FDS
Already have FICO
Already have FAST
Already have FRT
Already have FDX
Already have FITB
Already have FSLR
Already have FE
Already have FIS
Already have FI
Already have FLT
Already have FMC
Already have F
Already have FTNT
Already have FTV
Already have FOXA
Already have FOX
Already have BEN
Already have FCX
Already have GRMN
Already have IT
Already have GEHC
Already have GEN
Already have GNRC
Already have GD
Already have GE
Already have GIS
Already have GM
Already have GPC
Already have GILD
Already have GL
Already have GPN
Already have GS
Already have HAL
Already have HIG
Already have HAS
Already have HCA
Already have PEAK
Already have HSIC
Already have HSY
Already have HES
Already have HPE
Already have HLT
Already have HOLX
Already have HD
Already have HON
Already have HRL
Already have HST
Already have HWM
Already have HPQ
Already have HUM
Already have HBAN
Already have HII
Already have IBM
Already have IEX
Already have IDXX
Already have ITW
Already have ILMN
Already have INCY
Already have IR
Already have PODD
Already have INTC
Already have ICE
Already have IFF
Already have IP
Already have IPG
Already have INTU
Already have ISRG
Already have IVZ
Already have INVH
Already have IQV
Already have IRM
Already have JBHT
Already have JKHY
Already have J
Already have JNJ
Already have JCI
Already have JPM
Already have JNPR
Already have K
Already have KVUE
Already have KDP
Already have KEY
Already have KEYS
Already have KMB
Already have KIM
Already have KMI
Already have KLAC
Already have KHC
Already have KR
Already have LHX
Already have LH
Already have LRCX
Already have LW
Already have LVS
Already have LDOS
Already have LEN
Already have LIN
Already have LYV
Already have LKQ
Already have LMT
Already have L
Already have LOW
Already have LYB
Already have MTB
Already have MRO
Already have MPC
Already have MKTX
Already have MAR
Already have MMC
Already have MLM
Already have MAS
Already have MA
Already have MTCH
Already have MKC
Already have MCD
Already have MCK
Already have MDT
Already have MRK
Already have META
Already have MET
Already have MTD
Already have MGM
Already have MCHP
Already have MU
Already have MSFT
Already have MAA
Already have MRNA
Already have MHK
Already have MOH
Already have TAP
Already have MDLZ
Already have MPWR
Already have MNST
Already have MCO
Already have MS
Already have MOS
Already have MSI
Already have MSCI
Already have NDAQ
Already have NTAP
Already have NFLX
Already have NEM
Already have NWSA
Already have NWS
Already have NEE
Already have NKE
Already have NI
Already have NDSN
Already have NSC
Already have NTRS
Already have NOC
Already have NCLH
Already have NRG
Already have NUE
Already have NVDA
Already have NVR
Already have NXPI
Already have ORLY
Already have OXY
Already have ODFL
Already have OMC
Already have ON
Already have OKE
Already have ORCL
Already have OGN
Already have OTIS
Already have PCAR
Already have PKG
Already have PANW
Already have PARA
Already have PH
Already have PAYX
Already have PAYC
Already have PYPL
Already have PNR
Already have PEP
Already have PFE
Already have PCG
Already have PM
Already have PSX
Already have PNW
Already have PXD
Already have PNC
Already have POOL
Already have PPG
Already have PPL
Already have PFG
Already have PG
Already have PGR
Already have PLD
Already have PRU
Already have PEG
Already have PTC
Already have PSA
Already have PHM
Already have QRVO
Already have PWR
Already have QCOM
Already have DGX
Already have RL
Already have RJF
Already have RTX
Already have O
Already have REG
Already have REGN
Already have RF
Already have RSG
Already have RMD
Already have RVTY
Already have RHI
Already have ROK
Already have ROL
Already have ROP
Already have ROST
Already have RCL
Already have SPGI
Already have CRM
Already have SBAC
Already have SLB
Already have STX
Already have SEE
Already have SRE
Already have NOW
Already have SHW
Already have SPG
Already have SWKS
Already have SJM
Already have SNA
Already have SEDG
Already have SO
Already have LUV
Already have SWK
Already have SBUX
Already have STT
Already have STLD
Already have STE
Already have SYK
Already have SYF
Already have SNPS
Already have SYY
Already have TMUS
Already have TROW
Already have TTWO
Already have TPR
Already have TRGP
Already have TGT
Already have TEL
Already have TDY
Already have TFX
Already have TER
Already have TSLA
Already have TXN
Already have TXT
Already have TMO
Already have TJX
Already have TSCO
Already have TT
Already have TDG
Already have TRV
Already have TRMB
Already have TFC
Already have TYL
Already have TSN
Already have USB
Already have UDR
Already have ULTA
Already have UNP
Already have UAL
Already have UPS
Already have URI
Already have UNH
Already have UHS
Already have VLO
Already have VTR
Already have VLTO
Already have VRSN
Already have VRSK
Already have VZ
Already have VRTX
Already have VFC
Already have VTRS
Already have VICI
Already have V
Already have VMC
Already have WAB
Already have WBA
Already have WMT
Already have WBD
Already have WM
Already have WAT
Already have WEC
Already have WFC
Already have WELL
Already have WST
Already have WDC
Already have WRK
Already have WY
Already have WHR
Already have WMB
Already have WTW
Already have GWW
Already have WYNN
Already have XEL
Already have XYL
Already have YUM
Already have ZBRA
Already have ZBH
Already have ZION
Already have ZTS

In [30]:
def compile_data():
    '''
    with open("sp500tickers.pickle", "rb") as f:
        symbols= pickle.load(f)
    '''
    #symbols = save_sp500_tickers()
    main_df = pd.DataFrame()

    for i in range(len(symbols)):
        ticker=symbols[i][0]
        df = pd.read_csv('stock_dfs/{}.csv'.format(ticker))
        df.set_index('Date', inplace=True)
       # df.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],1,inplace=True)
       
        if main_df.empty:
            main_df = df
        else:
            main_df=pd.concat([main_df,df])

    return main_df

compile_data()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Name,Symbol,Adj Close
Date,,,,,,,,,,
2023-01-03 00:00:00-05:00,116.395598,117.468371,115.294099,117.305542,2612800,0.0,0.0,3M,MMM,NaN
2023-01-04 00:00:00-05:00,118.148422,120.006616,117.535411,119.872520,2769700,0.0,0.0,3M,MMM,NaN
2023-01-05 00:00:00-05:00,118.972160,119.316980,117.295956,117.774872,2606600,0.0,0.0,3M,MMM,NaN
2023-01-06 00:00:00-05:00,119.403191,121.769027,118.531561,121.376320,2417000,0.0,0.0,3M,MMM,NaN
2023-01-09 00:00:00-05:00,121.644503,124.000773,120.792034,121.443359,2871300,0.0,0.0,3M,MMM,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-06-23 00:00:00-04:00,168.728928,169.307642,166.823116,168.000519,2412100,0.0,0.0,Zoetis,ZTS,NaN
2023-06-26 00:00:00-04:00,167.541546,168.000529,164.188919,167.172348,1729200,0.0,0.0,Zoetis,ZTS,NaN
2023-06-27 00:00:00-04:00,168.429595,170.714563,166.783206,170.295486,1452300,0.0,0.0,Zoetis,ZTS,NaN
2023-06-28 00:00:00-04:00,170.016090,170.425194,168.379690,168.728928,1686800,0.0,0.0,Zoetis,ZTS,NaN
2023-06-29 00:00:00-04:00,168.279908,171.532764,167.830899,171.492844,1429000,0.0,0.0,Zoetis,ZTS,NaN

In [31]:
main_df=compile_data()

In [32]:
main_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Name,Symbol,Adj Close
Date,,,,,,,,,,
2023-01-03 00:00:00-05:00,116.395598,117.468371,115.294099,117.305542,2612800,0.0,0.0,3M,MMM,NaN
2023-01-04 00:00:00-05:00,118.148422,120.006616,117.535411,119.872520,2769700,0.0,0.0,3M,MMM,NaN
2023-01-05 00:00:00-05:00,118.972160,119.316980,117.295956,117.774872,2606600,0.0,0.0,3M,MMM,NaN
2023-01-06 00:00:00-05:00,119.403191,121.769027,118.531561,121.376320,2417000,0.0,0.0,3M,MMM,NaN
2023-01-09 00:00:00-05:00,121.644503,124.000773,120.792034,121.443359,2871300,0.0,0.0,3M,MMM,NaN

In [33]:
ver=dt.datetime.today().strftime('%Y-%m-%d')
ver

'2023-10-17'

In [34]:
compression_opts = dict(method='zip',

                        archive_name=str(ver)+'_SP500.csv')  

main_df.to_csv(str(ver)+'_SP500.csv', index=False,

          compression=compression_opts)